<h1>Contact Page</h1>
<div>
    <form action="contacto.php" method="POST" class="flex flex-column justify-content-center my-3 gap-1">
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="email" name="correo" placeholder="Correo electrónico">
        <input type="text" name="asunto" placeholder="Asunto">
        <textarea name="mensaje" placeholder="Mensaje"></textarea>
        <input type="submit" value="Enviar">
      </form>
    <div class="cardContainer" style = "margin: 0 auto;">
      <p>Dirección...</p>
      <p>Teléfono...</p>
    </div>
</div>
