<div class="display-animation display-animation-s mt-2">
    <div class="content__container">
        <p class="content__container__text">
            Hello
        </p>
        <ul class="content__container__list">
            <li class="content__container__list__item">startups!</li>
            <li class="content__container__list__item">e-commerce stores!</li>
            <li class="content__container__list__item">enterprises!</li>
            <li class="content__container__list__item">content creators!</li>
            <li class="content__container__list__item">developers!</li>
        </ul>
    </div>
</div>
