<div class="display-animation display-animation-s mt-2">
    <div class="content__container">
        <p class="content__container__text">
            Hello
        </p>
        <ul class="content__container__list">
            <li class="content__container__list__item">students !</li>
            <li class="content__container__list__item">pibes !</li>
            <li class="content__container__list__item">criaturas !</li>
            <li class="content__container__list__item">vedruners !</li>
        </ul>
    </div>
</div>
